.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
