
<h1>Toutes tes resas</h1>

<h3>Pending</h3>
<% @bookings.each do |booking| %>
  <% if booking.status == "pending" %>
    <div class="booking-pending">
      <% if current_user.admin %>
        <%= render "admin_card", booking: booking %>
      <% end %>
    </div>
  <% end %>
<% end %>
<h3>Accepted</h3>
<% @bookings.each do |booking| %>
  <% if booking.status == "accepted" %>
    <div class="booking-accepted">
      <% if current_user.admin %>
        <%= render "admin_card", booking: booking %>
      <% end %>
    </div>
  <% end %>
<% end %>
<h3>Declined</h3>
<% @bookings.each do |booking| %>
  <% if booking.status == "declined" %>
    <div class="booking-declined">
      <% if current_user.admin %>
        <%= render "admin_card", booking: booking %>
      <% end %>
    </div>
  <% end %>
<% end %>

