.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-image: image-url("home-background.jpg");
  background-size: cover;
  h1 {
    color: $white;
  }
  h3 {
    color: $white;
    font-weight: lighter;
  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  .home-btn {
    margin: 20px;
  }
}

.home-title {
  margin-bottom: 50px;
}
