.banner {
  height: 100vh;
  background-image: image-url("home-background.jpg");
  background-size: cover;
  color: $white;
  .home-title {
    margin-top: 12%;
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around;
  }
  h3 {
    font-weight: lighter;
  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  .home-btn {
    margin: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 190px;
  }
}
