.home-btn {
  background-color: $white;
  border: 3px solid rgb(37,103,145);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a.btn.home-btn {
  font-size: 25px;
  color: rgb(37,103,145);
  font-weight: bold;
}

.btn-admin-card {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px 2px 5px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  &.btn-accept {
    border: 1px solid green;
    &:hover {
      background-color: green;
      border: none;
    }
  }
  &.btn-decline {
    border: 1px solid red;
    &:hover {
      background-color: red;
      border: none;
    }
  }
  a:hover{
    color: rgb(247,241,230);
    text-decoration: none
  }
}

// The button to create a reservation

.btn-add {
  border: 3px solid #256791;
  border-radius: 50%;
  padding: 5px;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  bottom: 3%;
  right: 5%;
  z-index: 99;
}
