.home-btn {
  background-color: $white;
  border: 3px solid rgb(37,103,145);
  border-radius: 10px;
  display: flex;
}

a.btn.home-btn {
  font-size: 25px;
  color: rgb(37,103,145);
  font-weight: bold;
}

.btn-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px 1px 5px 1px;
  font-size: 12px;
  line-height: 19px;
  font-weight: bold;
  height: 35px;
  width: 75px;
  &.btn-accept {
    border: 1px solid green;
    &:hover {
      background-color: green;
      border: none;
    }
  }
  &.btn-decline {
    border: 1px solid red;
    &:hover {
      background-color: red;
      border: none;
    }
  }
  &.btn-modify {
    border: 1px solid #FA6B03;
    &:hover {
      background-color: #FA6B03;
      border: none;
    }
  }
  a:hover{
    color: $white;
    text-decoration: none
  }
}

// The button to create a reservation

.btn-add {
  border: 3px solid #256791;
  border-radius: 50%;
  padding: 5px;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  bottom: 3%;
  right: 5%;
  z-index: 99;
}
