.home-btn {
  background-color: #F8F6F0;
  border: 3px solid #256791;
  border-radius: 10px;
  display: flex;
  margin: auto;
}

a.btn.home-btn {
  font-size: 25px;
  color: #256791;
  font-weight: bold;
}
