.body {
  background-color : red !important;
}

.my-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 50%;
  font-size: 1rem;
  color: $bleu;
  background-color: $red;
  border-radius: 0 30px 30px 0;
}

// .my-navbar {
//   width: 100%;
//   background: bleu;
//   background-image: url(home-background.jpg);
//   border-radius: 0px 0px 35px 35px;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-home {
//   position: absolute;
//   background: transparent;
//   .nav-link {
//     color: #FFFFFF;
//     font-weight: lighter;
//   }
// }

// certified css

