.navbar-lewagon {
  justify-content: space-between;
  width: 100%;
  background: bleu;
  background-image: url(home-background.jpg);
  border-radius: 0px 0px 35px 35px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .nav-link {
    color: #F7E6C7;
    font-weight: lighter;;
  }
}
