.my-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 65%;
  font-size: 1rem;
  color: $blue;
  background-color: $grey;
  border-radius: 0 30px 30px 0;
  border: none;
  margin: 0;
}

.my-navbar {
  width: 100%;
  height: 65px;
  background-image: url(home-background.jpg);
  background-size: cover;
  border-radius: 0px 0px 35px 35px;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .nav-link {
    color: #ffffff;
    font-weight: lighter;;
  }
}

.dropdown-item {
  color: $blue;
}

.menu-burger {
  height: 25px;
  margin-left: 14px;
  z-index: 1001;
}

.show > .menu-burger {
  transform: scaleX(-1);
}

p.nav-location-name {
  margin: 0 25px 0 0;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.nav-profile-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-profile-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 15px;
  p {
    margin: 0;
  }
}

.disconnect {
  align-self: flex-end;
}
