.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .nav-link {
    color: #F7E6C7;
    font-weight: lighter;;
  }
}
